<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WeatherMap{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    </head>
    <body>
        <div id="root"></div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
            <script type="text/javascript" src="{{ asset('build/vendors~WeatherMap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('build/WeatherMap.js') }}"></script>
        {% endblock %}
    </body>
</html>
